h3{color: black;font-size: 10;margin-left: 20px;font-family:arial;}

h4{color: black;font-size: 10;margin-left: 0px;font-family:arial;}

h2{color: black;font-size: 10;margin-left: 20px;font-family:arial;}

h1{color: black;font-size: 10;margin-left: 20px;font-family:arial;}

a{color: blue;font-size: 16px;font-family:arial;}

p{color: black;font-size: 16px;font-family:arial;}

ul{color: black;font-size: 16px;font-family:arial;}

li{color: black;font-size: 16px;font-family:arial;}

table{color: black;font-size: 16px;font-family:arial;}

.circular--square {
  border-radius: 50%;
}
p {line-height: 1.5;}

li {line-height: 1.5;}

ul {line-height: 1.5;}

body {
    opacity: 0; /* Inicialmente invisible */
    transform: translateY(20px); /* Inicialmente un poco abajo */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

body.loaded {
    opacity: 1; /* Totalmente visible */
    transform: translateY(0); /* En su posición normal */
}
